/* Variables */
:root {
  /* colors */
  --accent-main: #e5a654;
  --accent-hover: #f5ce42;
  --accent-secondary: #83b3cb;
  --text-main: #686d7a;
  --border: #ced4da;
  --back-body: #598094;
  --back-app: #ffffff;
  --shadow: rgba(0, 0, 0, 0.1);
}

/* General styles */

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

img,
button {
  display: block;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1em;
  font-weight: 400;
  background: var(--back-body);
  scroll-behavior: smooth;
}

/* Class styles */

.app-container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  color: var(--text-main);
  background: var(--back-app);
  border-radius: 4px;
  box-shadow: 0px 10px 20px var(--shadow);
}

.btn-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-main);
  background-image: url("./images/search.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 40% 40%;
}

.btn-icon:hover {
  background-color: var(--accent-hover);
}

.city-header {
  padding: 40px 0 30px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border);
}

.city-name {
  color: var(--text-main);
}

.current-weather {
  padding: 30px 0 20px 0;
  display: flex;
  align-items: center;
}

.current-weather img {
  width: 100%;
  min-width: 100px;
}

.current-weather ul {
  list-style: none;
}

.current-weather li {
  margin-left: -30px;
}

.current-temp {
  text-align: center;
  margin-top: -20px;
}

.temp {
  color: var(--accent-main);
  font-size: 3rem;
  font-weight: 700;
}

.units {
  margin-top: -15px;
}

.units a {
  color: var(--accent-secondary);
  text-decoration: none;
}

.units a:hover {
  color: var(--accent-main);
}

.day-temp {
  color: var(--accent-main);
}

.night-temp {
  color: var(--accent-secondary);
}

.current-location {
  height: 40px;
  width: fit-content;
  margin: 20px auto;
  background: none;
  border: 2px solid var(--accent-secondary);
  color: var(--accent-secondary);
  border-radius: 4px;
}

.github-link {
  text-align: center;
}

.github-link a {
  color: var(--accent-main);
  text-decoration: none;
  transition: all 500ms ease;
}

.github-link a:hover,
.github-link a:focus {
  color: var(--accent-hover);
  text-decoration: underline;
}
