/* Variables */
:root {
  /* colors */
  --accent-main: #e5a654;
  --accent-hover: #f5ce42;
  --accent-secondary: #83b3cb;
  --text-main: #686d7a;
  --text-light: #bfc6ce;
  --border: #ced4da;
  --back-body: #598094;
  --back-app: #ffffff;
  --shadow: rgba(0, 0, 0, 0.1);
  /* transition */
  --default-trans: all 500ms ease;
}

/* General styles */

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

img,
button {
  display: block;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1em;
  font-weight: 400;
  background: var(--back-body);
  scroll-behavior: smooth;
}

/* App styles */

.app-container {
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  color: var(--text-main);
  background: var(--back-app);
  border-radius: 0.25rem;
  box-shadow: 0px 10px 20px var(--shadow);
}

.block-container {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}

/* Search */

.search-container,
.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.search-form,
.search-field {
  flex: auto;
}

.search-field {
  padding: 0.5rem 1rem 0.4rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
}

.search-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-main);
  background-image: url("../images/search.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 40% 40%;
  transition: var(--default-trans);
  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--accent-hover);
}

.current-location-button {
  width: fit-content;
  padding: 0.5rem 1rem 0.4rem 1rem;
  font-size: 1rem;
  background: none;
  border: 2px solid var(--accent-secondary);
  color: var(--accent-secondary);
  border-radius: 4px;
  transition: var(--default-trans);
  cursor: pointer;
}

.current-location-button:hover,
.current-location-button:focus {
  color: var(--accent-hover);
  border: 2px solid var(--accent-hover);
}

/* City header */

.date {
  min-width: 200px;
  font-size: 0.875rem;
  line-height: 1.25em;
  color: var(--text-light);
}

.date li:first-child,
.date li:last-child {
  font-weight: 700;
}

.city-name {
  font-size: 2.125rem;
}

/* Current weather */

.current-weather-icon {
  width: 100%;
  max-width: 100px;
  margin: auto 0;
}

.current-temp {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.current-temp-value {
  font-size: 4.5rem;
  line-height: 1em;
  font-weight: 700;
  color: var(--accent-main);
}

.units a {
  line-height: 2em;
  color: var(--accent-secondary);
  text-decoration: none;
}

.units a:hover {
  color: var(--accent-hover);
}

.units a.active {
  color: var(--text-main);
  text-decoration: none;
  cursor: default;
}

.current-weather-description {
  min-width: 200px;
  font-size: 0.875rem;
  padding-top: 0.5rem;
  line-height: 1.5em;
}

/* Forecast */

/* Github */

.github-link {
  padding-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
}

.github-link a {
  color: var(--accent-main);
  text-decoration: none;
  transition: var(--default-trans);
}

.github-link a:hover,
.github-link a:focus {
  color: var(--accent-hover);
  text-decoration: underline;
}
